RPC_MAINNET="https://mainnet.gateway.tenderly.co"
RPC_ARBITRUM="https://arbitrum.gateway.tenderly.co"
RPC_BASE="https://base.drpc.org"
RPC_KATANA="https://katana.drpc.org"
ENVIO_GRAPHQL_URL="https://indexer.hyperindex.xyz/"
